@import url('https://fonts.googleapis.com/css?family=Oxygen|Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
a{
    text-decoration: none;
}
.navbar-toggler{
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
}
.navbar-toggler span{
    display: block;
    width: 35px;
    height: 3px;
    background: #262626;
    position: absolute;
    transition: 0.3s;
}
.navbar-toggler span:before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #262626;
    transition: 0.3s;
}
.navbar-toggler span:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #262626;
    transition: 0.3s;
}
.navbar-toggler.toggle span{
    border: none;
    background: transparent;
}
.navbar-toggler.toggle span:before{
    top: -5px;
    transform: rotate(45deg);
}
.navbar-toggler.toggle span:after{
    top: -5px;
    transform: rotate(-45deg);
}

.navbar-light{
    width: 100%;
    background: linear-gradient(to right, rgba(3, 217, 245, 0.809), rgba(29, 68, 222, 0.836));
    padding: 10px;
}
.navbar-light.scrolled{
    background: linear-gradient(to right, rgb(29, 68, 222), rgb(3, 217, 245));
}
.container .navbar-brand{
    color: #fff;
}
.container .navbar-brand:hover{
    color: #fff;
}
.navbar-nav{
    margin-left: 45%;
}
.nav-link{
    padding: 5%;
    margin-right: 7%;
}
.nav-link .nav-item{
    color: #fff;
    text-decoration: none;
}
.nav-link .active{
    color: black;
}
.nav-link .nav-item:hover{
    color: #00B4F8;
}
.first-section{
    padding-bottom: 3.5%;
}
.carousel-item{
    height: 550px;
}
.carousel-inner #carou-one{
    background-size: cover;
    background-color: #00B4F8;
    background-blend-mode: overlay;
}
.carousel-caption h1{
    font-size: 55px;
    font-weight: bold;
    padding-bottom: 3%;
    text-shadow: 3px 5px rgba(0, 0, 0, 0.748);
}
.carousel-item #carousel-quote{
    width: 45%;
    position: absolute;
    top: 20%;
    left: 5%;
}
.carousel-item #carousel-quote h3{
    line-height: 1.6;
    text-align: justify;

}
.carousel-item #carousel-quote p{
    text-align: left;
}
.carousel-caption #quote{
   
}
#caption-links p{
    margin-bottom: 40px;
}
#caption-links a{
    margin: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding: 10px 25px;
    border: 2px solid rgba(255, 187, 0, 0.795);
    border-radius: 12px;
    font-weight: bold;
}

#caption-links a:hover{
    color: rgb(165, 160, 160);
    font-weight: bold;
}
.first-inner{
    display: none;
}
.btn-2{
    border-radius: 30px;
    border: 1px solid rgba(255, 187, 0, 0.795);
    color: #fff;
    background-color: #1F60D7;
    padding: 10px 35px;
    margin-left: 15px;
    margin-top: 5%;
    text-transform: uppercase;
    -webkit-box-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
    -moz-box-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
    box-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
}
.btn-2:hover{
    background-color: rgba(31, 95, 215, 0.666);
}
.col-md-6 .image{
    max-width: 100%;
    height: auto;
}
#first-margin{
    margin-left: ;
}
/* Wave animation */
.first{
    position: relative;
    overflow: hidden;
}
.second{
    height: 600px;
}

.wave{
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    width: 200%;
    background-position: 0 bottom;
    background-repeat: repeat-x;
    transform-origin: center bottom;
}
@keyframes waves{
    0%{transform: translateX(0) translateZ(0) scaleY(1)}
    0%{transform: translateX(-25%) translateZ(1) scaleY(.5)}
    0%{transform: translateX(-50%) translateZ(0) scaleY(1)}
}
/* Inputs */
input,
textarea{
    border: none;
}
input:focus,
textarea:focus{
    outline: none;
}
/*  Section Three */
.section-three img{
    margin: 0 auto;
}
#section-three{
    margin-top: 5%;
}
#section-three h2{
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    -webkit-text-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
    -moz-text-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
    text-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
}
.what-we-do{
    margin: 4% 0;
}
#section-three .card{
    border-radius: 5px;
    -webkit-box-shadow: -1px 5px 20px -10px rgba(148,146,148,1);
    -moz-box-shadow: -1px 5px 20px -10px rgba(148,146,148,1);
    box-shadow: -1px 5px 20px -10px rgba(148,146,148,1);
}
#section-three .card img{
    margin: 0 auto;
    width: 200px;
    height: 250px;
}
#section-three .card .chart{
    margin: 0 auto;
    width: 200px;
    height: 250px;
}
#section-three .card a{
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}
.content .content-overlay{
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    height: 100%;
    width: 22rem;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
  
.content-details p{
    color: rgb(141, 138, 138);
    font-size: 15px;
}
.fadeIn-top{
    top: 20%;
}
.fadeIn-top button{
      border: none;
      border-radius: 30px;
      padding: 10px 30px;
      color: #fff;
      margin: 20px 5px;
      cursor: pointer;
}
  /* Section Five */
.section-five{
    margin-top: 5%;
    background-color: rgba(251, 198, 6, 0.932);
    padding: 2%;
    color: #fff;
}
.section-five h2{
    font-size: 40px;
}
.section-five a{
    background: #fff;
    border-radius: 50px;
    color: rgb(49, 49, 49);
    padding: 10px 50px;
    font-size: 17px;
}
.section-five a:hover{
    background: #1F60D7;
    color: #fff;
}
#section-five{
    background: url('../img/mac.png');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#section-five h2{
    text-align: center;
    font-size: px;
    font-family: 'Poppins';
    font-weight: bold;
    padding-top: 3%;
}
.dot{
    text-align: center;
}
.head-line{
    width: 150px;
}
.dot i{
    text-align: center;
    display: block;
    position: relative;
    top: -25px;
    margin: 0 auto;
    color: #FBCA17;
    font-size: 18px;
  }
#section-five .text-center{
    padding-bottom: 4%;
}
#section-five h4{
    font-weight: bold;
}
#section-five hr{
    border: 0.5px solid rgba(182, 180, 180, 0.734);
}
.link-container{
    text-align: center;
    padding-bottom: 20px;
    border: none;
    border-radius: 20px;
}
/* Section Six */
#section-six .col-md-6 h6{
    padding-left: 3%;
    text-align: justify;
    line-height: 1.7;
    
}
#section-six .col-md-6 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 10px;
}
#section-six .col-md-6 img:hover{
    -webkit-box-shadow: -1px 6px 6px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 6px 6px 0px rgba(0,0,0,0.45);
    box-shadow: -1px 6px 6px 0px rgba(0,0,0,0.45);
}
/* Section Seven */
.section-seven .card{
    border-radius: 5px;
    -webkit-box-shadow: -1px 5px 20px -10px rgba(148,146,148,1);
    -moz-box-shadow: -1px 5px 20px -10px rgba(148,146,148,1);
    box-shadow: -1px 5px 20px -10px rgba(148,146,148,1);
}
.section-seven .card img{
    margin: 0 auto;
    width: 200px;
    height: 200px;
}
.section-seven .card:hover{
    -webkit-box-shadow: -1px 2px 5px 1px rgba(135,128,135,1);
    -moz-box-shadow: -1px 2px 5px 1px rgba(135,128,135,1);
    box-shadow: -1px 2px 5px 1px rgba(135,128,135,1);
}
.section-seven #instagram img{
    padding-top: 15px;
}
/*Slider Portfolio Section */
#portfolio img{
    margin: 0 auto;
}
#portfolio{
    background: #E7F2FD;
    padding: 5%;
    margin-top: 3%;
}

.slider{
    width: 100%;
    margin:10px auto;
    text-align: center;
    padding:20px;
    color:white;
}
.slider img{
      display: block;
      padding: 0 5px;
      margin-bottom: 10px;
}
#portfolio .link-container{
    margin-top: 5%;
}
.choose-us{
    padding-bottom: 4%;
    margin: 0 0 4% 0;
}
.choose-section{
    padding-top: 6%;
    
}
.choose-section h2{
    padding-bottom: 1em;
    font-weight: bold;
}
.choose-section p{
    line-height: 2em;
}
.choose-section i{
    color: #04D7F5;
    padding-right: 10px;
}
.choose-us img{
    border: 1px dotted yellow;
    border-top-left-radius: 3px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 3px;
}
.choose-us img:hover{
    -webkit-box-shadow: -1px 6px 6px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 6px 6px 0px rgba(0,0,0,0.45);
    box-shadow: -1px 6px 6px 0px rgba(0,0,0,0.45);
}
.section-button{
    margin-top: 10px;
    border-radius: 25px;
    padding: 10px 35px;
    font-size: 18px;
    background: #1D47DF;
    -webkit-box-shadow: -1px 5px 20px -10px rgba(13,170,227,1);
    -moz-box-shadow: -1px 5px 20px -10px rgba(13,170,227,1);
    box-shadow: -1px 5px 20px -10px rgba(13,170,227,1);
}
.section-button:hover{
    background: transparent;
    color: black;
    transition: 0.4s;
    font-weight: bold;
}
/* Main Portfolio */
#main-portfolio{
    background: url('../img/mac.png');
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    padding: 5% 13% 3% 13%;
    border-bottom: 3px dotted white;
}
#main-portfolio h1{
    color: #fff;
    font-weight: bold;
    text-shadow: 3px 5px rgba(0, 0, 0, 0.748);
}
#main-portfolio h6{
    line-height: 1.5;
    color: rgb(248, 238, 238);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.748);
}
#main-portfolio p{
    font-size: 45px;
    color: #FBCA17;
}
#port-section{
    padding: 3% 8%;
}
#port-section .content{
    position: relative;
    border: 2px dashed green;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10%;
}
#port-section #port-pad{
    position: relative;
    border: 2px dashed green;
    border-radius: 10px;
    overflow: hidden;
    padding: 5px 5px 17px 5px;
    margin-bottom: 10%;
}
#port-section .content .content-overlay{
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
  
#port-section .content:hover .content-overlay{
    opacity: 0.5;
  }
  
#port-section .content-details {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
#port-section .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
  
#port-section .content-details p{
    color: rgb(141, 138, 138);
    font-size: 15px;
}
#port-section .fadeIn-top{
    top: 20%;
}
#port-section .fadeIn-top button{
      border: none;
      border-radius: 30px;
      padding: 10px 30px;
      color: #fff;
      margin: 20px 5px;
      cursor: pointer;
}
/* Section Eight */
.section-eight{
    background-image: linear-gradient(to right, #03D8F5,  #1D42DE);
    color: #fff;
    padding: 4% 20%;
    margin-top: ;
}
.section-eight p{
    margin: 4% 0;
}
.back{
    background-color: #fff;
    margin-bottom: 7%;
    color: black;
    text-align: left;
    padding: 10px 10px;
    border-radius: 5px;
}
.back span,#next span{
    margin-left: 13px;
    font-size: 15px;
    color: #C5C8CB;
}
.form-control{
    border: none;
    outline: none;
    color: #C5C8CB;
}
input:focus,textarea:focus{
    outline: none;
}
#next{
    background-color: #fff;
    margin-bottom: 5%;
    color: black;
    text-align: left;
    padding: 10px 10px;
    border-radius: 5px;
    
}
#next textarea{
    border: none;
}
#send{
    background-color: #01E0F6;
    padding: 2% 0;
    border-radius: 5px;
    color: #fff;
}
#send:hover{
    background-color: #1C4CE0;
}

footer{
    background-color: #33485F;
}
.footer-section{
    padding: 10px 0;
    background-color: #2A3B4E;
}
.footer-section a .fa-facebook-f{
    margin: 15px 10px;
    padding: 10px 13px;
    border-radius: 50%;
    color: #fff;
    background-color: #3663A0;
}
.footer-section a .fa-twitter{
    margin: 15px 10px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(7, 129, 195);
}
.footer-section a .fa-instagram{
    margin: 15px 10px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(244, 140, 3);
}
.footer-section a .fa-linkedin-in{
    margin: 15px 10px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(31, 85, 221);
}
.footer-section a i:hover{
    background-color: #03D3F4;
}
.footer-links p{
    color: #fff;
    opacity: 0.8;
}
.footer-links a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
.footer-links a:hover{
    color: #03D3F4;
}
.footer-links .copy{
    font-size: 14px;
    color: #000;
    opacity: 0.8;
}

/* Services Section */
#service-one{
    background: linear-gradient(to right, orange,green,violet);;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 3% 3%;
    color: rgb(255, 255, 255);
    border-bottom: 2px dotted #FBCA17;
}
#service-one .arrow{
    color: #FBCA17;
    padding-top: 2%;
    font-size: 45px;
}
.service-two{
    background: url('../img/wilbro.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding: 3% 0;
}
.service-two h1{
    
}
.service-two h4, .service-two h5{
    color: blue;
}
.service-two .card{
    background: #F5F6F7;
    padding: 5% 0 3% 0;
}
.service-two a{
    background: blue;
    border: 1px solid white;
    color: white;
    padding: 8px 15px;
    margin-top: 2%;
}
.service-two a:hover{
    text-decoration: none;
}
.service-two .card-img-top{
    background: white;
    display: block;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 auto;
    width: 50%;
    font-size: 100px;
    padding: 15px 0;
}
.service-two .mgt{
    color: #0d076e;
}
.service-two .content{
    color: #022b04;
}
.service-two .advert{
    color: #8f0483;
}
.service-two .logo{
    color: #f77b72;
}
.service-two .video{
    color: #f702ae;
}
.service-two .banner{
    color: #6903a8;
}
@media screen and (max-width: 769px){
    .navbar-nav{
        margin-left: 0;
    }
    .nav-link{
        padding: 3%;
    }
    .section-one{
        padding-bottom: 3%;
        text-align: center;
    }
    .section-one .heading-one{
        font-size: 50px;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 2em;
        line-break: normal;
    }
    .section-one .header-display{
        display: none;
    }
    .section-one .one{
        font-size: 12px;
        padding: 10px 5px;
        margin-bottom: 20px;
    }
    .section-one .section-image{
        display: block;
    }
    .section-one .btn-1{
        display: none;
    }
    .section-one .btn-2{
        border-radius: 30px;
        padding: 18px 35px;
        margin-top: 5em;
        font-size: 30px;
        margin-left: -25px;
    }
    .section-one .image{
        display: none;
    }
    .section-two h4{
        font-size: 30px;
        margin-top: 7%;
        font-weight: bold;
    }
    .section-two p{
        text-align: center;
        font-size: 20px;
        padding: 5px 20px;
    }
    /* Section Three */
    #section-three{
        width: 100%;
        margin-top: 4em;
    }
    #section-three h2{
        font-size: 35px;
    }
    #section-three .card{
        width: 100%;
        margin: 3% 0;
    }
    #section-three .card h5{
        font-size: 25px;
    }
    #section-three .card a{
        font-size: 24px;
    }
    .section-five h2{
        font-size: 25px;
        margin-left: 18px;
    }
    .section-five p{
        font-size: 16px;
        margin-left: 18px;
    }
    .section-five .img1{
        display: none;
    }
    /* #Section-five */
    #section-five h2{
        padding-top: 4%;
    }
    footer{
        text-align: center;
    }
    /* Portfolio */
    #portfolio{
        padding: 5% 8%;
    }
    /* Section Six */
    #section-six #text{
        padding-top: 7%;
    }
    #section-button{
        margin-bottom: 25px;
    }
    #second-text p{
        font-size: 20px;
    }
    .section-button{
        display: block;
        margin: 0 auto;
    }
    /* Section Seven*/
    .section-seven .card{
        width: 100%;
        margin: 3% 0;
    }
    .section-seven .card img{
        height: 250px;
    }
    .choose-section{
        width: 100%;
    }
    .choose-section h2{
        text-align: center;
        font-size: 22px;
    }
    .choose-section p{
        font-size: 16px;
    }
    .choose-section .section-button{
        text-align: center;
        margin-bottom: 3em;
    }
    /*Section Eight */
    .section-eight h3{
        font-size: 18px;
        margin: 20px 0;
    }
    .section-eight p{
        font-size: 12px;
        margin-bottom: 30px;
    }
    .back, #next, #send{
        margin-left: 0;
        width: 100%;
    }
    .section-eight span{
        font-size: 13px;
        padding: -25px 30px;
    }
    .section-eight .form-control{
        font-size: 13px;
        justify-content: left;
        text-align: left;
        padding: -25px 50px;
    }
    .footer-links p{
        color: #fff;
        opacity: 0.8;
        font-size: 80%;
    }
    .section-five{
        text-align: center;
    }
    .section-five .btn-md{
        display: inline-block;
        text-align: center;
    }
    /* Wave */
    .wave{
        display: none;
    }
    /* Service Section */
    .service-two .card{
        margin-bottom: 3%;
    }
}
@media screen and (max-width:340px){
    .first-inner{
        text-align: center;
    }
    .first-inner h1{
        font-size: 22px;
    }
    .first-inner #caption-links p{
        font-size: 7px;
        padding: 0;
        margin: 0 5px 7px 0;
    }
    .first-inner #caption-links p a{
        font-size: 7px;
        padding: 0;
        margin-right: 5px;
    }
    .first-inner #caption-links #mgt{
        display: none;
    }
}
@media screen and (max-width:460px){
    .first-inner h1{
        font-size: 28px;
        padding: 4% 2%;
        font-weight: bold;
    }
    .first-inner #caption-links p{
        font-size: 16px;
        padding: 5px;
        margin-left: 0;
    }
    .first-inner #caption-links p a{
        font-size: 15px;
        padding: 7px;
        margin-left: 0;
    }
    .first-inner .btn-2{
        margin-bottom: 5%;
    }
    
}

@media screen and (max-width:680px){
    .carousel{
        display: none;
    }
    .first-inner{
        display: block;
        background-image: url('../img/wilbrotech-image.jpg');
        background-size: cover;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        padding-bottom: 5%;
    }
    .first-inner h1{
        font-size: 35px;
        padding: 4% 2%;
        font-weight: bold;
    }
    /* Main Portfolio */
    #main-portfolio h1{
        text-shadow: 3px 3px rgba(0, 0, 0, 0.659);
    }
    #main-portfolio h6{
        text-shadow: 1px 2px rgba(0, 0, 0, 0.537);
    }
    #main-portfolio h1{
        font-size: 23px;
    }
    #main-portfolio h6{
        font-size: 13px;
    }
    #main-portfolio p{
        font-size: 35px;
    }
    /* Section Three */
    #section-three .card a{
        border: 1px solid rgba(255, 187, 0, 0.795);
        padding: 1px 8px;
        border-radius: 5px;
        font-size: 22px;
    }
    .section-five{
        text-align: center;
    }
    .section-five .btn-md{
        display: inline-block;
        text-align: center;
    }
    /* #Section-five */
    #section-five h2{
        padding-top: 5%;
    }
    .section-button{
        display: block;
        margin: 0 auto;
    }
    /* Section Seven */
    .section-seven h1{
        font-size: 27px;
    }
    .section-seven #none{
        display: none;
    }
}
@media screen and (max-width: 480px){
    .section-one .heading-one{
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 2em;
        line-break: normal;
    }
    .section-one .section-image{
        width: 300px;
        margin-left: 3em;
    }
    .section-one .btn-2{
        border-radius: 40px;
        padding: 10px 25px;
        margin-top: 5em;
        font-size: 20px;
        margin-left: 5px;
    }
    #second-text{
        padding-bottom: 4%;
    }
    #second-text p{
        font-size: 16px;
        padding: 10px 5px 0 5px;
    }
    .section-button{
        display: block;
        margin: 0 auto;
    }
    
    .choose-section p{
        font-size: 13px;
    }
    .choose-section .section-button{
        text-align: center;
        margin-bottom: 3em;
    }
    /*Slider Portfolio Section */

    .slider img{
      display: block;
      padding: 0 5px;
      margin-bottom: 10px;
      height: 80px;
      width: 100px;
    }
    .content .content-overlay, .content .content-details{
        display: none;
    }
    /* Portfolio */
    #portfolio{
        padding: 5% 11%;
    }
    /* Section eight */
    .footer-links span{
        display: none;
    }
    .section-five{
        text-align: center;
    }
    .section-five .btn-md{
        display: inline-block;
        text-align: center;
    }
}
@media screen and (max-width:992px){
    .carousel-item{
        height: 470px;
    }
    .carousel-caption h1{
        font-size: 35px;
    }
    .carousel-caption #quote{
        position: relative;
        top: -60px;
        font-size: 42px;
        text-shadow: 3px 5px rgba(0, 0, 0, 0.748);
    }
    #carousel-quote h3{
        text-align: center;
        font-size: 19px;
    } 
    #caption-links p{
        margin-bottom: 30px;
    }
    #caption-links a{
        margin: 10px;
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        padding: 10px 25px;
        border: 1px solid rgba(255, 187, 0, 0.795);
        border-radius: 12px;
    }
    .section-five h2{
        padding-top: 3%;
        font-size: 25px;
    }
    .section-five .btn-md{
        font-size: 16px;
        padding: 12px 10px;
        margin-top: 3%;
    }
    /* Section Six */
    #section-six .col-md-6 h6{
        line-height: 1.2;
    }
    #second-text p{
        font-size: 20px;
    }
    .image-responsive img{
        height: 350px;
    }
    /* section seven */
    .section-seven .card img{
        margin: 0 auto;
        width: 200px;
        height: 160px;
    }
    .choose-section p{
        line-height: 1.5;
    }
}
