@import url('https://fonts.googleapis.com/css?family=Oxygen|Poppins&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
a{
    text-decoration: none;
}
.navbar-toggler{
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
}
.navbar-toggler span{
    display: block;
    width: 35px;
    height: 3px;
    background: #262626;
    position: absolute;
    transition: 0.3s;
}
.navbar-toggler span:before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #262626;
    transition: 0.3s;
}
.navbar-toggler span:after{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #262626;
    transition: 0.3s;
}
.navbar-toggler.toggle span{
    border: none;
    background: transparent;
}
.navbar-toggler.toggle span:before{
    top: -5px;
    transform: rotate(45deg);
}
.navbar-toggler.toggle span:after{
    top: -5px;
    transform: rotate(-45deg);
}

.navbar-light{
    width: 100%;
    background: linear-gradient(to right, #03D8F5, #1D42DE);
    padding: 10px;
}
.navbar-light.scrolled{
    background: linear-gradient(to right, #1D42DE, #03D8F5);
}
.container .navbar-brand{
    color: #fff;
}
.container .navbar-brand:hover{
    color: #fff;
}
.navbar-nav{
    margin-left: 50%;
}
.nav-link{
    padding: 5%;
    margin-right: 7%;
}
.nav-link .nav-item{
    color: #fff;
    text-decoration: none;
}
.nav-link .nav-item:hover{
    color: #00B4F8;
}
.section-one{
    background: linear-gradient(to right, #03D8F5, #1D42DE);
}
.section-one .container{
    padding-top: 5%;
    padding-bottom: 12%;
}
.section-one .heading-one{
    font-family: 'Poppins';
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    -webkit-text-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
    -moz-text-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
    text-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
}
.section-one .section-image{
    display: none;
}
.one{
    margin: 10px 5px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    padding-top: 10px;
    line-height: 30px;
}
.one a{
    text-decoration: none;
    color: #fff;
    margin: 10px 5px;
}
.one a:hover{
    color: #fff;
    font-weight: bold;
}
.btn-2{
    border-radius: 30px;
    border: none;
    color: #fff;
    background-color: #1F60D7;
    padding: 15px 35px;
    margin-left: 15px;
    margin-top: 5%;
    text-transform: uppercase;
    -webkit-box-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
    -moz-box-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
    box-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
}
.btn-2:hover{
    background-color: rgba(31, 95, 215, 0.666);
}
.col-md-6 .image{
    max-width: 120%;
    height: auto;
}

/*  Section Three */
#section-three{
    margin-top: 7%;
}
#section-three h2{
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    -webkit-text-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
    -moz-text-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
    text-shadow: -1px 5px 20px -4px rgba(20,120,231,1);
}
.what-we-do{
    margin: 4% 0;
}
#section-three .card{
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: -1px 5px 20px -10px rgba(148,146,148,1);
    -moz-box-shadow: -1px 5px 20px -10px rgba(148,146,148,1);
    box-shadow: -1px 5px 20px -10px rgba(148,146,148,1);
}
#section-three .card img{
    margin: 0 auto;
    width: 200px;
    height: 250px;
}
#section-three .card .chart{
    margin: 0 auto;
    width: 200px;
    height: 250px;
}
#section-three .card a{
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}
.content .content-overlay{
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    height: 100%;
    width: 22rem;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
  
  .content:hover .content-overlay{
    opacity: 1;
  }
  
.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
  
.content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;
}
  
.content-details p{
    color: rgb(141, 138, 138);
    font-size: 15px;
}
.fadeIn-top{
    top: 20%;
}
.fadeIn-top button{
      border: none;
      border-radius: 30px;
      padding: 10px 30px;
      color: #fff;
      margin: 20px 5px;
      cursor: pointer;
}
  /* Section Five */
.section-five{
    margin-top: 3%;
    background-color: #F5F9FD;
    padding: 3% 0;
}
.section-five h2{
    margin-top: 12%;
    margin-bottom: 5%;
    margin-right: 2%;
    line-height: 45px;
}
.section-five p{
    opacity: 0.8;
    text-align: justify;
    line-height: 30px;
    width: 80%;
}
.section-five .img1,.section-five .img2{
    max-width: 100%;
    height: auto;
}
/* Section Six */
.section-six{
    background-color: #F5F9FD;
    margin: 5% 0;
    padding: 5% 0; 
}
.section-six-text{
    margin-left: 4em;
    text-align: justify;
}
.section-six-text h3{
    font-weight: bold;
    padding-bottom: 15px;
}
.section-six-text p{
    padding-top: 10px;
    line-height: 32px;
    font-size: 14px;
}
.section-six #second-text{
    margin-top: 10px;
    padding-top: 10px;
    line-height: 32px;
    font-size: 14px;
    text-align: justify;
}
/* Section Seven */
.section-seven{
    width: 100%;
    height: 700px;
    background: #E7F2FD;
    padding: 5% 5px 10% 5px;
}

.section-seven img{
    margin-top: 5%;
    padding-bottom: 7%;
}
.choose-us{
    padding: 5% 5px;
    margin: 3% 0;
}
.choose-section{
    padding-top: 6%;
    
}
.choose-section h2{
    padding-bottom: 1em;
    font-weight: bold;
}
.choose-section p{
    line-height: 2em;
}
.choose-section i{
    color: #04D7F5;
    padding-right: 10px;
}
.section-button{
    margin-top: 10px;
    border-radius: 25px;
    padding: 10px 35px;
    font-size: 18px;
    background: #1D47DF;
    -webkit-box-shadow: -1px 5px 20px -10px rgba(13,170,227,1);
    -moz-box-shadow: -1px 5px 20px -10px rgba(13,170,227,1);
    box-shadow: -1px 5px 20px -10px rgba(13,170,227,1);
}
/* Section Eight */
.section-eight{
    background-image: linear-gradient(to right, #03D8F5,  #1D42DE);
    color: #fff;
    padding: 4% 20%;
    margin-top: 3%;
}
.section-eight p{
    margin: 4% 0;
}
.back{
    background-color: #fff;
    margin-bottom: 7%;
    color: black;
    text-align: left;
    padding: 10px 10px;
    border-radius: 5px;
}
.back span,#next span{
    margin-left: 13px;
    font-size: 15px;
    color: #C5C8CB;
}
.form-control{
    border: none;
    outline: none;
    color: #C5C8CB;
}
input:focus,textarea:focus{
    outline: none;
}
#next{
    background-color: #fff;
    margin-bottom: 5%;
    color: black;
    text-align: left;
    padding: 10px 10px;
    border-radius: 5px;
    
}
#next textarea{
    border: none;
}
#send{
    background-color: #01E0F6;
    padding: 2% 0;
    border-radius: 5px;
    color: #fff;
}
#send:hover{
    background-color: #1C4CE0;
}

footer{
    background-color: #33485F;
}
.footer-section{
    padding: 10px 0;
    background-color: #2A3B4E;
}
.footer-section a .fa-facebook-f{
    margin: 15px 10px;
    padding: 10px 13px;
    border-radius: 50%;
    color: #fff;
    background-color: #3663A0;
}
.footer-section a .fa-twitter{
    margin: 15px 10px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(7, 129, 195);
}
.footer-section a .fa-instagram{
    margin: 15px 10px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(244, 140, 3);
}
.footer-section a .fa-linkedin-in{
    margin: 15px 10px;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(31, 85, 221);
}
.footer-section a i:hover{
    background-color: #03D3F4;
}
.footer-links p{
    color: #fff;
    opacity: 0.8;
}
.footer-links a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
}
.footer-links a:hover{
    color: #03D3F4;
}
.footer-links .copy{
    font-size: 14px;
    color: #000;
    opacity: 0.8;
}
@media screen and (max-width: 900px){
    /* Section Six */
    
    .section-six-text{
        margin-left: 0;
        margin-top: 4em;
        text-align: justify;
    }
    .section-six-text h3{
        font-size: 18px;
        font-weight: bold;
        padding-bottom: 22px;
    }
    .section-six-text p{
        padding-top: 10px;
        line-height: 32px;
        font-size: 18px;
        text-align: justify;
    }
    #second-text p{
        font-size: 20px;
    }
}


@media screen and (max-width: 769px){
    .navbar-nav{
        margin-left: 0;
    }
    .nav-link{
        padding: 3%;
    }
    .section-one{
        padding-bottom: 3%;
        text-align: center;
    }
    .section-one .heading-one{
        font-size: 50px;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 2em;
        line-break: normal;
    }
    .section-one .header-display{
        display: none;
    }
    .section-one .one{
        font-size: 12px;
        padding: 10px 5px;
        margin-bottom: 20px;
    }
    .section-one .section-image{
        display: block;
    }
    .section-one .btn-1{
        display: none;
    }
    .section-one .btn-2{
        border-radius: 30px;
        padding: 18px 35px;
        margin-top: 5em;
        font-size: 30px;
        margin-left: -25px;
    }
    .section-one .image{
        display: none;
    }
    .section-two h4{
        font-size: 30px;
        margin-top: 7%;
        font-weight: bold;
    }
    .section-two p{
        text-align: center;
        font-size: 20px;
        padding: 5px 20px;
    }
    /* Section Three */
    #section-three{
        width: 100%;
        margin-top: 4em;
    }
    #section-three h2{
        font-size: 35px;
    }
    #section-three .card{
        width: 100%;
        margin: 3% 0;
    }
    #section-three .card h5{
        font-size: 25px;
    }
    #section-three .card a{
        font-size: 24px;
    }
    .section-five h2{
        font-size: 25px;
        margin-left: 18px;
    }
    .section-five p{
        font-size: 16px;
        margin-left: 18px;
    }
    .section-six h3{
        font-size: 25px;
        font-weight: bold;
        margin-left: 17%;
    }
    .section-five .img1{
        display: none;
    }
    footer{
        text-align: center;
    }
    /* Section Six */
    .section-six-text{
        width: 100%;
        margin-top: 4em;
        margin-left: 0;
        text-align: justify;
    }
    .section-six-text h3{
        font-size: 30px;
        font-weight: bold;
        padding-bottom: 22px;
    }
    .section-six-text p{
        padding-top: 10px;
        line-height: 32px;
        font-size: 20px;
        text-align: justify;
    }
    #second-text p{
        font-size: 20px;
    }
    .section-button{
        margin-top: 2em;
        margin-left: 10em;
    }
    /* Section Seven*/
    .section-seven{
        padding: 10px 0;
    }
    .section-seven h1{
        padding: 25px 0;
        font-size: 27px;
    }
    .section-seven img{
        margin-top: 15%;
        margin-bottom: 2%;
    }
    .choose-section{
        width: 100%;
    }
    .choose-section h2{
        text-align: center;
        font-size: 22px;
    }
    .choose-section p{
        font-size: 16px;
    }
    .choose-section .section-button{
        text-align: center;
        margin-bottom: 3em;
    }
    /*Section Eight */
    .section-eight h3{
        font-size: 18px;
        margin: 20px 0;
    }
    .section-eight p{
        font-size: 12px;
        margin-bottom: 30px;
    }
    .back, #next, #send{
        margin-left: 0;
        width: 100%;
    }
    .section-eight span{
        font-size: 13px;
        padding: -25px 30px;
    }
    .section-eight .form-control{
        font-size: 13px;
        justify-content: left;
        text-align: left;
        padding: -25px 50px;
    }
    .footer-links p{
        color: #fff;
        opacity: 0.8;
        font-size: 80%;
    }
    
}
@media screen and (max-width: 480px){
    .section-one .heading-one{
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 2em;
        line-break: normal;
    }
    .section-one .section-image{
        width: 300px;
        margin-left: 3em;
    }
    .section-one .btn-2{
        border-radius: 40px;
        padding: 10px 25px;
        margin-top: 5em;
        font-size: 20px;
        margin-left: 5px;
    }
    .section-six-text h3{
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 22px;
    }
    .section-six-text p{
        padding: 10px 5px 0 5px;
        line-height: 32px;
        font-size: 16px;
        text-align: justify;
    }
    #second-text p{
        font-size: 16px;
        padding: 10px 5px 0 5px;
    }
    .section-button{
        margin-top: 0;
        margin-left: 0;
    }
    .section-seven{
        width: 100%;
        height: 450px;
        background: #E7F2FD;
        padding: 5% 5px 5% 5px;
    }
    .section-seven h1{
        padding: 25px 0;
        font-size: 25px;
    }
    .section-seven img{
        margin-top: 2%;
        margin-bottom: 0;
    }
    .choose-section p{
        font-size: 13px;
    }
    .choose-section .section-button{
        text-align: center;
        margin-bottom: 3em;
    }
    /* Section eight */
    .footer-links span{
        display: none;
    }
}